FACEBOOK_ID=<your facebook id>
FACEBOOK_SECRET=<your facebook secret>
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
SESSION_SECRET=ThisIsMySecret
MONGODB_URI = mongodb+srv://<user_name>:<password>@cluster0.z4m2yov.mongodb.net/restaurant_list?retryWrites=true&w=majority
